@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__wrapper {
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;

  @include flexCenter;

  .login__container {
    width: 75vw;
    padding: 50px;
    @include flexCenter;
    .img__background {
      width: 50%;
      display: block;
      aspect-ratio: 1;
      background-position: left;
      background-size: cover;
      @media (max-width: 800px ) {
        display: none;
      
      }

      background-image: url("../../assets/img/login.png");
    }
    form {
      width: 50%;
      aspect-ratio: 1;
      background-color: #ffffff;
      @include flexCenter;
      flex-direction: column;
      @media (max-width: 800px ) {
        width: 100vw;
      }

      button {
        background-color: #7F8CFA;
      }
      a {
        color: #000;
      }
    }
    .pSignIn {
      font-size: 1.6rem;
      font-family: calibri;
      color: rgb(0, 0, 0);
    }

    @media (max-width: 1200px ) {
      width: 90vw;
    }
    @media (max-width: 800px ) {
      flex-direction: column;
      width: 100vw;
      overflow: hidden;

    }
  }

  @media (max-width: 800px ) {
    background-color: #ffffff ;

  }
}
