@mixin flexCenter {
  display: flex;
}
.categories {
  min-height: 100vh;
  background-color: #1a2027;
  .postContainer {
    width: 90%;
    margin: auto;
    padding-top: 0.3%;
  }
}
.post {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

.hoverBG:hover {
  background-color: #3c52b2 !important;
}
.categoryAdd {
  background-color: rebeccapurple;
  height: 500px;
  width: 80%;
  margin: auto;
}
